{
    "extends": "airbnb",
    "parser": "babel-eslint",
    "rules": {
        "linebreak-style": 0,
        "react/no-multi-comp": 0,
        "quotes": 0,
        "no-alert": 0,
        "no-console": 0,
        "react/sort-comp": 0,
        "comma-dangle": 0,
        "jsx-a11y/href-no-hash": 0,
        "radix": 0,
        "react/no-danger": 0,
        "jsx-a11y/label-has-for": 0,
        "import/prefer-default-export": 0,
        "no-plusplus": 0,
        "no-param-reassign": 0,
        "no-useless-escape": 0,
        "no-useless-return": 0,
        "no-else-return": 0,
        "no-return-assign": 0,
        "prefer-stateless-function": 0,
        "react/prefer-stateless-function": 0
    },
    "env": {
        "browser": true,
        "node": true
    }
} 